* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    margin: auto;
    background: linear-gradient(180deg, rgba(37, 43, 111, 1) 30%, rgba(75, 36, 71, 0.79) 100%);
    padding: 40px;
    padding-top: 25px;
    color: white;
    border-radius: 20px;
    width: 80%;
    height: 560px;
}

.wrapper p {
    margin-top: 40px;
    text-align: center;
}

h1 {
    text-align: center;
}

.form-control::placeholder {
    color: #7B7B7B !important;
    font-size: 14px;
    text-align: start;
    
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.f-label {
    padding-bottom: 2px;
}