<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Detail Training</title>
  <object th:include="fragments/fragment :: requirement" th:remove="tag"></object>


</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="Test">
  <div class="card m-4 p-4">
    <div class="card-body">
      <div class="justify-content-center">
        <div class="row">
          <div class="col-10">
            <h3 th:text="${training.nama}"></h3>
          </div>
          <div th:if="${successtext} " th:replace="fragments/fragment :: alert-success-fragment(successtext=${successtext})"></div>
          <div class="col-2">
            <a  th:if="${#authorization.getAuthentication().getAuthorities()[0].getAuthority().toString().equals('admin')}" th:href="@{/training-catalog/update/} + ${training.trainingId}">
              <button class="btn btn-sm btn-primary">Update</button>
            </a>
            
<!--            <a class="btn btn-sm btn-danger my-1" data-bs-toggle="modal" th:data-bs-target="'#my-modal-' + ${training.trainingId}">Delete</a>-->
            <!-- Button to trigger the modal -->
            <button  th:if="${#authorization.getAuthentication().getAuthorities()[0].getAuthority().toString().equals('admin')}" type="button" class="btn btn-sm btn-outline-danger my-1" data-bs-toggle="modal" th:data-bs-target="'#my-modal-' + ${training.trainingId}">
              Delete
            </button>
            
            <!-- Modal -->
            <div class="modal fade" th:id="'my-modal-' + ${training.trainingId}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" th:text="'Hapus training '+${training.nama} +' ?'"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>

                  <!-- Modal Body -->
                  <div class="modal-body">
                    <p th:text="'Apakah yakin anda akan menghapus training dengan nama'"></p>
                    <p th:text="${training.nama} + '?'"></p>
                    <p>Anda tidak dapat mengembalikan data training ini ini.</p>
                  </div>

                  <!-- Modal Footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                    <a th:href="@{/training-catalog/delete/} + ${training.trainingId}" ><button class="btn btn-danger">Ya, hapus secara permanen</button></a>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        
        <div class="row">
          <div class="col-2" style="font-weight: bold">Penyedia</div>
          <div class="col-10" th:text="${training.penyedia}"></div>
        </div>
        <div class="row">
        <div class="col-2" style="font-weight: bold">Deskripsi</div>
        <div class="col-10" th:text="${training.deskripsi}"></div>
        </div>
        <hr>
        <h5 style="font-weight: bold">Competency yang dapat dikembangkan:</h5>
        <table class="table">
          <thead>
          <tr>
            <th class="text-center">No</th>
            <th class="text-center">Competency</th>
            <th class="text-center">Level</th>
            <th class="text-center">Deskripsi</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="level, iterationStatus : ${training.levelOfTraining}">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${level.idCompetency.nama}"></td>
            <td th:text="${level.level}"></td>
            <td th:text="${level.deskripsi}"></td>
          </tr>
          </tbody>
        </table>
        <br>
        <a th:href="@{/training-catalog}"><button class="btn-hover-2 color-1">Kembali</button> </a>
        <a th:if="${#authorization.getAuthentication().getAuthorities()[0].getAuthority().toString().equals('admin')}" th:href="@{/view-review/} + ${training.trainingId}"><button class="btn-hover-2 color-2">Lihat Review</button></a>
      </div>
    </div>
  </div>
</div>


<div th:replace="fragments/fragment :: scripts" th:remove="tag"></div>


</body>
</html>