<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Training Recommendation</title>
  <object th:include="fragments/fragment :: requirement" th:remove="tag"></object>

</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="Test">
  <h1 class="text">Training Recommendation</h1>
  <div class="container">
    <div class="card m-4 p-4">
      <div class="card-body">
        <div class="justify-content-center">
          <table class="table table-paginate">
            <thead>
            <tr>
              <th class="text-center">No</th>
              <th class="text-center">Nama Karyawan</th>
              <th class="text-center">Title</th>
              <th class="text-center">Standard</th>
              <th class="text-center">Gap</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="detail, iterationStatus : ${listDetail}">
              <td th:text="${iterationStatus.count}" class="text-center"></td>
              <td th:text="${detail.user.namaDepan} + ' ' + ${detail.user.namaBelakang} " class="text-center"></td>
              <td th:text="${detail.user.titleModel.nama}" class="text-center"></td>
              <td th:text="${detail.competencyLevel.level}" class="text-center"></td>
              <td th:text="${detail.rerataGap}" class="text-center"></td>
            </tr>
            </tbody>
          </table>
          <br>
          <a th:href="@{/training-recommendation/period(idEventPriod=${idEventPriod})}"><button class="btn-hover-2 color-1">Kembali
          </button> </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="fragments/fragment :: scripts" th:remove="tag"></div>

</body>

</html>